.App {
  text-align: center;
}

header {
  background-color: #ffffff;
  padding: 20px;
  color: rgb(138, 0, 80);
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

footer {
  background-color: #ffffff;
  color: rgb(138, 0, 80);
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
